<%- include("partials/header"); %>
<div class="container text-left">
	<h1 class="text-center">About Us</h1>
	<h2>Welcome to Quillsy!</h2>
	<h3>For writings to share</h3>
	<p class="lead">A web application for sharing your ideas, thoughts, poems, quotes, short stories 
	and more.</p>

	<p class="lead">At Quillsy, we believe your writings are precious and irreplaceable. We want you to keep writing and we will do the needful of storing and presenting your thoughts beautifully to the world. So register today and join us to start sharing your thoughts and writings and much more on this one in all and all-in-one platform, Quillsy!</p>
	<p class="lead">Designed and Coded By : surhud004 &copy; 2019 version: v.1.0.0</p>
	<a href="/register" class="btn btn-lg btn-outline-success mx-2 my-4">Get Started</a>
</div>
<%- include("partials/footer"); %>