<%- include("partials/header"); %>
<div class="container landing">
	<img id="landingLogo" src="assets/logo.png" class="img-logo" alt="logo">
	<h2 id="titleName" class="display-2">Quillsy</h2>
	<h4 id="taglineName" class="display-4">for writings to share</h4>
	<div id="startBtn" class="my-5">
		<a href="/register" class="btn btn-lg btn-outline-success mx-2 my-4">Get Started</a>
		<a href="/posts" class="btn btn-lg btn-outline-success mx-2 my-4">View Posts</a>
	</div>
</div>
<%- include("partials/footer"); %>