<%- include("partials/header"); %>
<div class="container text-center">
	<div class="jumbotron jumbotron-fluid rounded">
		<div class="container">
    		<h1 class="display-4">Oops!!</h1>
    		<p class="lead">I think you're lost in your writings!!</p>
		</div>
  	</div>
</div>
<%- include("partials/footer"); %>