<%- include("partials/header"); %>
<div class="container text-left">
	<h1 class="text-center">Terms of Use</h1>
	<h2>Welcome to Quillsy!</h2>
	<p class="lead">These Terms of Use govern your use of Quillsy. When you create a Quillsy account or use Quillsy, you agree to these terms.</p>

	<h3>Your Commitments</h3>
	<p class="lead">In return for our commitment to provide the Service, we require you to make the below commitments to us.</p>

	<h3>Who Can Use Quillsy -</h3>
	<p class="lead">You must be at least 13 years old or the minimum legal age in your country to use Quillsy.</p>

	<h3>How You Can't Use Quillsy -</h3>
	<p class="lead">
		<ul>
			<li>You don't have to disclose your identity on Quillsy. You can't create an account for someone else unless you have their express permission.</li>
			<li>You can't do anything unlawful, misleading, or fraudulent or for an illegal or unauthorized purpose.</li>
			<li>You can't attempt to create accounts or access or collect information in unauthorized ways.</li>
			<li>You can't attempt to buy, sell, or transfer any aspect of your account (including your username) or solicit, collect, or use login credentials of other users.</li>
			<li>You can't post private or confidential information or do anything that violates someone else's rights, including intellectual property.</li>
			<li>You can't post unwanted, explicit or provocative content that violates age-restrictions.</li>
		</ul>
	</p>

	<p class="lead">We can remove any content or information you share on the Service if we believe that it violates these Terms of Use or our data policy.</p>
</div>
<%- include("partials/footer"); %>